<!DOCTYPE html>
<html>
  <head>
    <title>Jsx_Space_Time</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'solar-system_favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.Home_icon = "<%= image_url('Home_icon.png')%>"
      window.PBS_webpage_img = "<%= image_url('PBS-webpage-img.jpg') %>"
      window.video_play_icon = "<%= image_url('video_play_icon.png') %>"
      window.Thank_Card = "<%= image_url('Thank_Card.jpeg') %>"
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
